/*------------------
HOME
-------------------*/
#home{
    display: flex;
    align-items: center;
    height: 100vh;
    position: relative;

}

#home img{
    position: fixed;
    top: 50%;
    left: 50%;
    min-height: 100%;
    min-width: 100%;
    height: auto;
    width: auto;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    object-fit: cover;
    box-sizing: border-box;
    overflow: hidden;
    z-index: -100;
    transition: 1s oposity;
}

#home .overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.75);
}

#home h1{
    color: #fff;
    font-size: 7vw;
    line-height: 1.2em;
}
#crearCuenta h2,h4{
    padding-top: 20px;
    color: #fff;
    text-transform: uppercase;
}

#home p{
    color: rgba(250,250,250, 0.7);
}

#home .home-text{
    z-index: 59;
}


/*----------------
Boton
-----------------*/

.section-btn{
    margin: 32px 0 0 0;
    padding: 0;
}

.section-btn a{
    color: #fff;
    font-weight: normal;
    line-height: 45px;
    perspective: 1000px;
}

.section-btn a span{
    position: relative;
    display: inline-block;
    font-size: 18px;
    font-weight: normal;
    letter-spacing: 0.5px;
    padding: 2px 27px;
    background: #626768;
    border-radius: 1px;
    transition: transform 0.3s;
    transform-origin: 50% 0;
    transform-style: preserve-3d;
    border-radius: 5px;
    cursor: pointer;
}

.section-btn a span::before{
    position: absolute;
    top: 100%;
    left: 0;
    height: 100%;
    width: 100%;
    color: #fff;
    background: #000;
    border-radius: 1px;
    padding: 2px 27px;
    transition: background 0.3s;
    transform: rotateX(-90deg);
    content: attr(data-hover);
    transform-origin: 50% 0;
    border-radius: 5px;
    cursor: pointer;
}

.section-btn a:hover span,
.section-btn a:focus span{
    transform: rotateX(90deg) translateY(-22px);
}