<app-navigation></app-navigation>
<section id="home">
    <div class="overlay py-5">
        <div class="container">
            <div class="home-text">
                <h1>Lista de Asistentes </h1>
            </div>
        </div>
        <div class='container'>
            <table class="table table-striped table-dark">
                <thead>
                    <tr class="table-dark">
                    <th class='text-dark' scope="col">Nombre</th>
                   
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let row of data">
                        <td>{{row.nombre}}</td>
                        </tr>
                </tbody>
            </table>
        </div>
    </div> 
</section>


