<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="#">DEMO MLSA</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation" wfd-id="654">
        <span class="navbar-toggler-icon" wfd-id="460"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarColor02" wfd-id="450">
        <ul class="navbar-nav ml-auto" wfd-id="452">
          <li class="nav-item active" wfd-id="458">
            <a class="nav-link" routerLink='/registrarse'>Registrarse
              <span class="sr-only" wfd-id="459">(current)</span>
            </a>
          </li>
          <li class="nav-item" wfd-id="457">
            <a class="nav-link"  routerLink='/asistentes'>Asistentes</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  