<app-navigation></app-navigation>  
<section id="home">
    <img src="assets/Imagenes/fondoHome.jpg">

    <div class="container">
        <div class="row pt-5">
            <div class="home-text col-md-8 col-sm-12 mt-5">
                <h1>MLSA</h1>
                <p>Descubre tu potencial y llevalo al maximo</p>
                <ul class="section-btn">
                    <!--background: #4dc47d;-->
                    <a href="https://studentambassadors.microsoft.com/"><span data-hover="Información">Información</span></a>
                </ul>
            </div>
        </div>
    </div>
    <div class="overlay">

    </div>
</section>


